[package]
name = "kernel"
version = "0.1.0"
authors = ["Ws12"]

[dependencies]
console={path="arch/x86/console/"}
rlibc = "1.0"
io={path="arch/x86/io"}

[lib]
path="kernel/main.rs"
crate-type=["staticlib"]

